---
import PageLayout from "../layouts/PageLayout.astro";
import ProjectCard from "../layouts/ProjectCard.astro";
---

<PageLayout title="404">
    <section class="flex flex-col gap-5 py-20 w-full items-center justify-center">
        <h1>
            404
        </h1>
        <p>
            La página que estás buscando no existe o ha sido movida.
        </p>
        <p>
            Puedes regresar a la <a href="/" class="text-primary underline">página principal</a>.
        </p>
    </section>
</PageLayout>