---
import PageLayout from '../layouts/PageLayout.astro';
import Header from "../components/Header.astro";
import Pill from "../components/Pill.astro";
import Image from 'astro/components/Image.astro';
import img from "../assets/images/CarlosLanding.jpg"
import { getCollection } from 'astro:content';
import ProjectCard from "../layouts/ProjectCard.astro";

const projects = await getCollection('projects');

projects.sort((a,b) => b.data.startDate.valueOf() - a.data.startDate.valueOf(),)
---

<PageLayout title="Carlos Marin">

    <section class="flex flex-col items-center justify-center px-4 py-4 gap-2 h-96 bg-primary/10">
        <h4>
            Hola 👋, soy <span class="font-display text-primary">Carlos Marin</span>
        </h4>
        <p class="text-xl">
            Desarrollador web y diseñador UI/UX
        </p>
    </section>

    <section class="flex flex-col gap-5 px-16 py-6">
        <h6>
            Proyectos
        </h6>
        <div class="flex flex-row gap-4 items-center overflow-x-auto">
            {
                projects.map((project) => (
                        <ProjectCard {...project.data} />
                    )
                )
            }
        </div>
    </section>

    <section class="flex flex-row items-center justify-between px-16 py-4">
        <div class="flex flex-col gap-2 w-1/2">
            <h6>
                Carlos Andres Marin
            </h6>
            <div class="flex flex-row gap-4">
                <Pill>
                    React
                </Pill>
            </div>
            <p>
                Soy estudiante del CECyT 9 “Juan de Dios Bátiz” en Técnico en Programación, capacitado para trabajar en el desarrollo de aplicaciones web mediante el uso de React para el front-end ya sea con TypeScript o JavaScript. Así como conocimiento de diversas arquitecturas utilizadas para el desarrollo de estas aplicaciones, como lo son SSR, PWA, SPA. Implementando metodologías y herramientas para el trabajo colaborativo en el desarrollo de proyectos.
            </p>
        </div>
        <Image src={img} alt="Imagen de Carlos Marin" class="object-cover w-1/4 aspect-square rounded-2xl"  />
    </section>

</PageLayout>
